# Backend
PORT=4000
MONGO_URI=mongodb://localhost:27017/cobra
JWT_SECRET=change_me
BOT_SIGN_SECRET=change_me
ADMIN_TELEGRAM_ID=
DESTINATION_WALLET=
TELEGRAM_BOT_TOKEN=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
CLIENT_URL=http://localhost:5173
HELIUS_API_KEY=
BIRDEYE_API_KEY=

# Frontend (Vite)
VITE_BACKEND_URL=http://localhost:4000
VITE_CLIENT_URL=http://localhost:5173
